.projectContainer {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px 50px;
}
.all-projects {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.project {
  display: flex;
  justify-content: start;
  gap: 15px;
  padding-bottom: 50px;
}
.title h2 {
  color: #ff2079;
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  font-family: "Expletus Sans";
}
.title-des {
  color: #e92eb9;
  padding-bottom: 10px;
  font-family: "orbitron";
  letter-spacing: 4px;
  text-align: center;
}
.proj-title {
  color: #ff2079;
  font-family: "Expletus Sans";
  padding-bottom: 5px;
}
.project.directSwitch {
  justify-content: end;
}
.proj-des {
  color: white;
}
.proj-image img {
  max-width: 93%;
  height: 458px;
  position: relative;
}
.proj-content{
  width: 30%;
}
.proj-tech{
  display: flex;
  padding-top: 10px;
gap: 7px;
}

.proj-links {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  align-items: center;
}
.demo-link a {
  text-decoration: none;
  color: white;
}
.link a{
  color: #ff2074;
  font-size: 20px;
}
.git-text{
  color: white;
}

@media (min-width:350px)and (max-width: 768px){
  .projectContainer {
 
    padding: 50px 20px; 
}
.proj-image img {
  max-width: 93%;
  height: 330px;
}
}
