.errorContainer{
    background-color:white;
    padding: 40px 20px;
    height: auto;
}
.errorContent{
    background-color: #fffbf7;
    padding: 40px 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:20px;
}
span{
    font-size: 20px;
}
.errorSplit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.errorTitle{
    font-family: 'Expletus-Sans';
}
.errorBtn button{
    padding: 7px 20px;
    background-color: #ff2074;
    color: white;
    font-family: 'Expletus-Sans';
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
}
.errorImg img{
    width: 300px;
    height: auto;
}
@media (min-width: 350px) and (max-width: 768px) {
.errorContent {
    padding: 0px 0px;
    flex-direction: column-reverse;
}
.errorImg img {
    width: 200px;
    height: auto;
}
}