.aboutContainer {
  padding: 0 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffbf7;
}

.containAll {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.about-title h2 {
  font-family: "Expletus Sans";
  color: #333;
  white-space: nowrap;
  font-size: 24px;
}

.about-text {
  padding-top: 10px;
}

.about-text p {
  line-height: 1.5; 
  color: #333; 
}

.about-text a {
  text-decoration: underline;
  color: #ff2079;
}

.imgContainer img {
  width: 300px;
  height: 350px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutContainer {
    padding: 50px 20px; 
    height: auto;
  }
}

@media (min-width: 350px) and (max-width: 768px) {
  .imgContainer img {
    width: 211px;
    height: 265px;
  }

  .containAll {
    flex-direction: column-reverse;
  }

  .aboutContainer {
    padding: 50px 15px; 
    height: auto;
  }

  .about-title h2 {
    font-size: 20px;
  }
}
