.aboutContainer{
    padding: 0px 225px;
    display: flex;
    justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffbf7;
 
}
.containAll{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;
}
.about-title h2{
font-family: 'Expletus Sans';
color: #ff2079;
white-space: nowrap;
}
.about-text{
    padding-top: 10px;
}
.about-text p{
    line-height: 22px;
    color: black;
}
.about-text a{
    text-decoration: underline;
    color: #ff2079;
}
.imgContainer img{
    width: 300px;
    height: 350px;
}
@media (min-width: 768px) and (max-width: 1024px) {

    .aboutContainer{
        padding: 0px 20px;
     
    }
}
