.contactHomeContain{
    height: 40vh;
    background-color: #fffbf7;
}
.contactHomeContent{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.titleContact{
    color: #ff2079;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: "Expletus Sans";
}
.contactLink{
    display: inline-block;
    text-decoration: underline;
    color: #ff2079;
}