.introContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 88vh; 
    gap: 20px;
}
.content{
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.intro-text{
    font-family: 'orbitron';
    line-height: 29px;
    letter-spacing: 2px;
    color: white;
}
h1{
    font-weight: bold;
    font-size: 33px;
    color: #ff2079;
    font-family: 'Expletus Sans';
}
.icons-links{
    display: flex;
}
.gitLink{
    padding-left: 8px;
}
.icons-links a{
    font-size: 30px;
}
.myPhoto img{
    width: 42vh;
    height: 41vh;
border-radius: 50%;
}