.projectsContainer {
  height: auto;
  background-color: white;
}

.projectsContent {
  padding: 50px 49px;
}

.project-item img {
  width: 100%;
}

.project-group {
  display: grid;
  padding: 72px 79px;
  background-color: #fffbf7;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); 
  grid-gap: 50px; 
  align-items: flex-start;
}

@media screen and (min-width: 600px) {
  .project-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .project-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projectImg-title {
  color: #ff2079;
  padding-bottom: 10px;
}

.project-item a {
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .projectsContent {
    padding: 0px;
  }
  .project-group {
    display: grid;
    padding: 70px 16px;
  }
}
