.Tech-container{
    display: flex;
    justify-content: space-between;
    padding-right: 52px;
    padding-top: 40px;
}
span{
    padding-left: 10px;
    font-size: 23px;
}
.title p{
    font-weight: bold;
    font-size: 16px;
}
.all-icons{
    display: flex;
}
.icon{
    padding-left: 25px;
}
.icon img{
    width: 33px;
    height: 32px;
}